body {
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

*{
	box-sizing: border-box;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    clear: both;
}

.linha {
	width: 100%;
}

.box-inteiro{
	width: 100%;
	padding: 30px 30px 15px;
	display: inline-block;
	vertical-align: top;
}

.box-meio{
	width: 100%;
	padding: 30px 30px 15px;
	display: inline-block;
	vertical-align: top;
}

.box-terco{
	width: 100%;
	padding: 30px 30px 15px;
	display: inline-block;
	vertical-align: top;
}

nav {
	width: 100%;
	background-color: #000;
	padding: 20px 0;
	position: fixed;
}

.marca{
	float: left;
    padding: 15px 0px;
}

nav ul li a {
	box-sizing: border-box;
}

figure {
	margin: 1em 0;
}

.botao {
	text-align: center;
	background-color: #C00;
	border: none;
	border-radius: 5px;
	padding: .8em 1em;
	color: #FFF;
	display: inline-block;
}
.botao:hover {
	background-color: #E00;
	color: #FFF;
	text-decoration: none;
}

ol {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}
ol li {
    counter-increment: step-counter;
    margin-bottom: 1em;
}
ol li::before {
    content: counter(step-counter);
    margin: -3px 5px 0 -40px;
    margin-left: -40px;
    margin-right: 5px;
    background-color: #666;
    color: #FFF;
    border-radius: 50%;
    font-weight: bold;
    padding: .2em .5em;
    float: left;
}

#introducao {
	height: 100%;
	padding-top: 50%;
	background-image: url(../img/fundo-header.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#tipos {
	overflow: auto;
    padding: 100px 0;
    background: #F1F1F1;
    text-align: center;
}

#extensoes {
	overflow: auto;
    padding: 100px 0;
    background: #FFF;
}
.info-browser {
	width: 100%;
	font-size: 0.5em;
	border-spacing: .2em;
    border-collapse: separate;
}
.info-browser td {
    border: none;
    white-space: 0;
    text-align: center;
    padding: .6em;
    vertical-align: top;
}
.info-browser th {
    background-color: #666;
    color: #FFF;
    font-weight: normal;
    padding: .6em;
}
.info-browser caption{
	caption-side: bottom;
	text-align: left;
	font-size: 1.2em;
	line-height: 1.4em;
	margin-top: .2em;
}

.info-browser tr:nth-child(even) {
    background-color: #F1F1F1;
}
@media (min-width: 768px){
	.info-browser {
		font-size: 1em;
		border-spacing: .1em;
	}
	.info-browser caption{
		caption-side: bottom;
		text-align: left;
		font-size: 1em;
		line-height: 1.2em;
		margin-top: .2em;
	}
}

.icone-sistema{
	display: inline;
	float: left;
	margin-right: .5em;
	line-height: 100%;
	overflow: auto;
	height: 40px;
}

#estilos {
	overflow: auto;
    padding: 100px 0;
    background: #F1F1F1;
}

#composicoes {
	overflow: auto;
    padding: 100px 0;
    background: #FFF;
}

#questoes-importantes {
	overflow: auto;
    padding: 100px 0;
    background: #F1F1F1;
}


@media (min-width: 768px){
	.container {
	    width: 750px;
	}

	.box-meio{
		width: 49.5%;
	}

	.box-terco{
		width: 32.75%;
	}

	#introducao {
		padding-top: 15%;
	}

	.icone-sistema{
		height: 50px;
	}

	nav ul{
		float: right;
	}

	nav ul li{
		display: inline-block;
	}
	nav ul li a{
		padding: 10px;
		box-sizing: border-box;
		border-radius: 5px;
	}
}

@media (min-width: 992px){
	.container {
	    width: 970px;
	}
}

@media (min-width: 1200px){
	.container {
	    width: 1170px;
	}
}