/* Pesos estruturais */

body{
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color: #666;
}

small{ 
	font-size: 30%;
	font-weight: normal;
}

h1, h2, h3, h4{
	margin: .4em 0 .2em;
}

h1{ 
	font-size: 1.8em;
}

h2{
	font-size: 1.6em;
}

h3{
	font-size: 1.4em;
}

h4{
	font-size: 1.2em;
}

p, .codigo, .passos li{
	margin: 0 0 1em;
	font-size: 1em;
	line-height: 1.3em;
}

@media (min-width: 768px){

	h1{ 
		font-size: 3em;
	}

	h2{
		font-size: 2.5em;
	}

	h3{
		font-size: 2em;
	}

	h4{
		font-size: 1.3em;
	}

	p, .codigo, .passos li{
		font-size: 1.2em;
		line-height: 1.4em;
	}

	.codigo{
		font-size: 1.1em;
		line-height: 1.4em;
	}

}



/* Introdução */

#introducao{ 
	color: #FFF;
	text-align: center;
}

.intro-titulo{ 
	font: 900 2.5em;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: .2em;
	color: #FFF;
}

.intro-subtitulo{ 
	font: 100 italic 1.2em 'Droid Serif', Georgia, "Times New Roman", Serif;
	margin-bottom: 1em;
	font-weight: normal;
	
}

@media (min-width: 768px){

	.intro-titulo{
		font-size: 3em;
		text-transform: uppercase;
	}

	.intro-subtitulo{
		font-size: 1.5em;
	}

}

@media (min-width: 992px){

	.intro-titulo{
		font-size: 4em;
		text-transform: uppercase;
	}

	.intro-subtitulo{
		font-size: 2.5em;
	}

}


/* Aula 1 - Conhecendo os diferentes tipos de fonte */

.aula-1-serifa{ 
	font-family: "Times New Roman", Georgia, Serif;
}

.aula-1-sem-serifa{ 
	font-family: Helvetica, Arial, sans-serif;
}

.aula-1-espacamento-fixo{ 
	font-family: "Courier New", Courier, monospace;
}

.aula-1-cursiva{ 
	font-family: "Brush Script MT", cursive;
}

.aula-1-fantasia{ 
	font-family: "Papyrus", cursive;
}



/* Aula 2 - Extensões, uso legal e instalação de fontes */

@font-face{ 
	font-family: 'Rounded_Elegance';
		src: url('../fonts/Rounded_Elegance.eot'); /* Modo compatível com IE 9 */
		src: url('../fonts/Rounded_Elegance.eot?#iefix') format('embedded-opentype'), /* IE6 e IE8 */
			url('../fonts/Rounded_Elegance.woff2') format('woff2'), /* Browsers mais recentes */
			url('../fonts/Rounded_Elegance.woff') format('woff'), /* Browsers recentes */
			url('../fonts/Rounded_Elegance.ttf')  format('truetype'), /* Safari, Android e iOS */
			url('../fonts/Rounded_Elegance.svg#svgFontName') format('svg'); /* iOS anteriores */
}

h1, h2, h3, h4, .menu-itens li{ 
	font-family: 'Rounded_Elegance', "Century Gothic", CenturyGothic, AppleGothic, "Trebuchet MS", sans-serif;
	font-weight: normal;
}

p, li{ 
	font-weight: 300;
}



/* Aula 3 - Composições: alinhamento e combinações de fontes */

#composicoes{ 
}

.aula-3-titulo-serifa{
	font-family: 'Droid Serif', Georgia, "Times New Roman", Serif;
	font-weight: bold;
}

.aula-3-titulo-sem-serifa{
	font-family: 'Lato', cursive;
	font-weight: bold;
}

.aula-3-paragrafo-slab{
	font-family: 'Roboto Slab', Serif;
	font-weight: 300;
}

.destaque{
	text-align: center;
	font-family: 'Roboto Slab', Serif;
}

.destaque p{
	font-variant: normal;
	font-weight: 700;
	font-size: 1.55em;
}



/* Aula 4 - Estilos aplicáveis com CSS3 */

#estilos{ 
}

a{
	color: #C00;
	text-decoration: none;
}

a:hover{
	color: #E00;
	text-decoration: underline;
}

.inverso a, .destaque a{
	color: #0CC;
}

.inverso a:hover, .destaque a:hover{
	color: #0EE;
}

.codigo{
	color: #0CC;
}

.titulo-de-capitulo{
	padding: 10px 0 10px 10px;
	margin-left: -20px;
	color: #000;
	border-bottom: 2px dotted #0CC;
	border-left: 10px solid #0CC;
}

.capitular:first-letter{
	background-color: #666;
	float: left;
	color: #FFF;
	font-size: 2em;
	line-height: 1.25em;
	padding: 0 .2em;
	border-radius: 5px;
	margin-right: .1em;
}

@media (min-width: 768px){

	.capitular:first-letter{
		font-size: 2.1em;
	}

}

.capitular-inverso:first-letter{
	background-color: #FFF;
	float: left;
	color: #666;
	font-size: 1.8em;
	line-height: 1.25em;
	padding: 0 .2em;
	border-radius: 5px;
	margin-right: .1em;
}

@media (min-width: 768px){

	.capitular-inverso:first-letter{
		font-size: 2.1em;
	}

}



/* Aula 5 - Questões importantes: erros comuns e as fontes nos meios digitais */

#questoes-importantes{ 
}

.bibliografia {
	list-style-type: none;
	font-style: italic;
	padding: 0;
}
.bibliografia li {
	list-style-type: none;
	font-style: italic;
	margin-bottom: .5em;
}