body{
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
}

a{
	color: #C00;
	text-decoration: none;
}

a:hover{
	color: #E00;
	text-decoration: underline;
}

.marca{
	color: #F00;
	text-decoration: none;
	font-size: 2em;
	line-height: 20px;
}

.botao {
	font-size: 1.2em;
	line-height: 1em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
}

nav ul li a{
	color: #FFF;
	text-decoration: none;
	line-height: 20px;
}
nav ul li a:hover{
	background-color: #F00;
	text-decoration: none;
}

h1{
	font-size: 2.4em;
}
h2{
	font-size: 2em;
}
h3{
	font-size: 1.7em;
}
h4{
	font-size: 1.4em;
}
p{
	font-size: 1em;
	line-height: 1.2em;
}
@media (min-width: 768px){
	h1{
		font-size: 3em;
	}
	h2{
		font-size: 2.5em;
	}
	h3{
		font-size: 2em;
	}
	h4{
		font-size: 1.8em;
	}
	p{
		font-size: 1.2em;
		line-height: 1.4em;
	}
}
figcaption{
	font-size: 0.8em;
	font-style: italic;
	line-height: 1em;
}

/* Introdução */

#introducao {
	color: #FFF;
	text-align: center;
}

.intro-titulo{
	font: 900 2.5em Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	margin-bottom: .2em;
}

.intro-subtitulo{
	font: italic 1.2em Georgia, "Times New Roman", Serif;
	margin-bottom: 1em;
}

@media (min-width: 768px){
	.intro-titulo{
		font-size: 5em;
		text-transform: uppercase;
	}

	.intro-subtitulo{
		font-size: 2.5em;
	}
}

/* Aula 1 - Conhecendo os diferentes tipos de fonte */

#tipos {
	
}

.aula-1-serifa {
	font-family: "Times New Roman", Georgia, Serif;
}

.aula-1-sem-serifa {
	font-family: Helvetica, Arial, sans-serif;
}

.aula-1-espacamento-fixo {
	font-family: "Courier New", Courier, monospace;
}
.aula-1-cursiva {
	font-family: "Brush Script MT", cursive;
}
.aula-1-fantasia {
	font-family: "Papyrus", cursive;
}

/* Aula 2 - Extensões, uso legal e instalação de fontes */

#extensoes {
	text-align: center;
}

.capitular:first-letter{
	background-color: #666;
	float: left;
	color: #FFF;
	font-size: 2.1em;
	line-height: 1.2em;
	padding: 0 .2em;
	border-radius: 5px;
	margin-right: .1em;
}

/* Aula 3 - Estilos aplicáveis com CSS3 */

#estilos {
}

/* Aula 4 - Composições: alinhamento e combinações de fontes */

#composicoes {
}

/* Aula 1 - Questões importantes: erros comuns e as fontes nos meios digitais */

#questoes-importantes {
}

.inverso {
	color: #FFF;
	background-color: #666;
	border-radius: 15px;
}